*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}


nav {
    background-color:green; 
    display:flex; 
    justify-content:space-around; 
    padding-top:10px ;
    padding-bottom:5px ; 

}


 .logo img {
   height:60px ; 
   width:60px ; 
   border-radius:50%; 
  
}

.nav-items {
    list-style-type:none; 
    display:flex; 
    justify-content:space-between; 
    gap:10px ; 
}

.nav-items li a {
    text-decoration:none ; 
    color:white; 
}